* {
  box-sizing: border-box;
}
#contact {
  background-color: black;
}
.container {
  padding: 50px 100px;
}
.contact-form {
  width: 60%;
  margin: 0 auto;
}
.contact-form-input {
  padding: 10px;
}
.contact-form-input label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.contact-form-input input,
.contact-form-input textarea {
  padding: 12px;
  color: white;
  background-color: black;
  font-family: verdana;
  border-radius: 10px;
  width: 100%;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
.col-50 {
  float: left;
  width: 50%;
}
.contact-form-input input:focus,
.contact-form-input textarea:focus {
  outline: none;
  border: 1px solid blue;
}
.section-heading {
  text-align: center;
}
.section-heading h3 {
  color: white;
  font-family: verdana;
}
.section-heading p{
    color:white;
    font-family:verdana;
}
.contact-form-buttons input{
    padding:20px;
    background-color:blue;
    color:white;
    border:none;
}
.contact-form-buttons input:hover{
    background-color:cyan;
}