*{
    box-sizing:border-box;
}
.container{
    padding:50px 100px;
}
.section-heading{
    text-align:center;
    }
    .section-heading h3{
        font-size:30px;
        font-family:verdana;
    }
    .section-heading p{
        font-size:20px;
        font-family:verdana;
    }
    .col-50{
        float:left;
        width:50%;
        padding-right:10px;
    }
    .col-100{
        float:left;
        width:100%;
        padding-right:10px;
    }
    .design-co{
     
    }
   